extends layout

block content
  h2 That's a #{status}.
  p= message
  if stackHighlighted
    pre!= stackHighlighted
  if status===401
    a.btn.btn-primary.mt-3(href="/auth/google") Sign In with Google