extends layout

block content
  h2 Welcome
  p This is the API for UC Berkeley Pi Sigma Epsilon's website, located at 
    a(href="http://berkeleypse.org") http://berkeleypse.org.
  p This API doubles as a content management dashboard. For that, you must be signed in.
  a.btn.btn-primary(href="/auth/google") Sign In with Google