doctype html
html
  head
    title API | UC Berkeley Pi Sigma Epsilon, Zeta Chi Chapter
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="/stylesheets/index.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block header
      if user
        .d-flex.w-100
          nav.sidebar
            .p-3
              h1.h3
                | UC Berkeley
                br
                | Pi Sigma Epsilon
                br
                | API
            ul.sidebar__list.px-3.my-2
              li.mx-2.my-3
                a.sidebar__link(href="/") Home
              li.mx-2.my-3
                .d-flex.flex-row.justify-content-between.align-items-center
                  a.sidebar__link(href="/brothers") Brothers
                  a.btn.btn-outline-primary.btn-sm(href="/brothers/add") Add
              li.mx-2.my-3
                .d-flex.flex-row.justify-content-between.align-items-center
                  a.sidebar__link(href="/fulltimes") Fulltimes
                  a.btn.btn-outline-primary.btn-sm(href="/fulltimes/add") Add
              li.mx-2.my-3
                .d-flex.flex-row.justify-content-between.align-items-center
                  a.sidebar__link(href="/internships") Internships
                  a.btn.btn-outline-primary.btn-sm(href="/internships/add") Add
              li.mx-2.my-3
                a.sidebar__link.disabled(href="/regforms") Registration Forms
              li.mx-2.my-3
                a.sidebar__link.disabled(href="/applications") Applications
              li.mx-2.my-3
                a.sidebar__link.disabled(href="/users") Users
            hr
            .profile.px-3
              .profile
                .profile__title.text-center Your Profile
                .profile__name.my-1 #{user.name}
                .profile__email.my-1 #{user.email}
                .profile__role.my-1 Role: #{user.role}
                .profile__logout.text-center.mt-4
                  a.btn.btn-primary(href="/auth/logout") Logout

    .content
      block content

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    