doctype html
html
  head
    title API | UC Berkeley Pi Sigma Epsilon, Zeta Chi Chapter
    link(href="/stylesheets/index.css" rel="stylesheet")
    link(href="/stylesheets/form.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block header
      header
        h1 Welcome to Pi Sigma Epsilon's API
    
    .content
      block content