doctype html
html
  head
    title API | UC Berkeley Pi Sigma Epsilon, Zeta Chi Chapter
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block header
      header
        .title Welcome to Pi Sigma Epsilon's API
    
    .content
      block content